html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding-top: 25px;
    flex: 1 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: left;
    font-size: 2vmin;
}

main h1 {
    color: #212121;
    font-size: 40px;
    text-align: center;
}

main h2 {
  color: #757575;
  font-size: 25px;
  text-align: center;
}

ul, ol {
 padding: 0;
 margin-left: 1em;
}

/* Page content */

.content {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    padding: 25px;
    max-width: 900px;
}

.content-about {
    display: inline-block;
    text-align: justify;
    word-spacing: -2px;
    font-size: 20px;
    padding: 25px;
    max-width: 900px;
}

/* Index start for bio page */

.firstcontent {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 900px;
}

/* Profile picture */

.profile-pic {
    display: inline-block;
    max-width: 100%;
    max-width: 200px;
    max-height: 30%;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    
}

.profile-doc {
    display: inline-block;
    max-width: 580px;
    vertical-align:middle;
    text-align: left;
    margin-top:40px;
    margin-bottom:25px;
}
/* Colored links */

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */
.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
    font-size: 20px;
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}
