{{ partial "header" . }}

<main>
    <div>
        <h1>{{ .Title }}</h1>
    </div>
    {{ range .Pages }}
    <h2>{{ .Title }}</h2>
    <div align="start" class="content">
      <ul>
      {{ range .Pages }}
      <li>  <a href={{ .Params.slidefile }}>{{ .Title }}</a><br>
	{{ .Params.event }}, {{ .Params.place }}, {{ .Date.Format "January 2, 2006" -}}
	{{ if .Params.otherfilesavailable }}<br>
	<a href={{ .Params.otherfiles }}> Additional files</a> 
	{{ end }}
	{{ if .Params.videoavailable }}<br>
	<a href={{ .Params.video }}> Video from presentation </a> 
	{{ end }}
	{{ end }}
      </ul>
    </div>
    
    {{ end }}
</main>

{{ partial "footer" . }}
