{{ partial "header" . }}
<main>
  <div class="intro">
    <h1>{{ .Site.Title }}</h1>
    <div align="start" class="firstcontent">
      {{ with .Site.Params.profilePic }} <img class="profile-pic" src="{{ . }}"> {{ end }}
      <div class="profile-doc">
      {{ .Site.Params.OneLineBio | markdownify }}
      <br>
      <br>
      Address: {{ .Site.Params.Address | markdownify }}
      </div>
    </div>
    <h2>About Me</h2>
    <div align="start" class="content-about"> {{ .Site.Params.ShortBio | markdownify }} </div>
    <h2>News</h2>
    <div align="start" class="content">
    <ul>
      {{ range .Pages }}
      {{ if in .Permalink "news" }}
      {{ range .Pages }}
      <li>  {{- .Date.Format "January 2, 2006" -}}:{{- .Content -}} 
      {{ end }}
      {{ end }}
      {{ end }}
    </ul>
    
  </div>
</main>

{{ partial "footer" . }}
