{{ partial "header" . }}


<main>

    <div>
        <h1>{{ .Title }}</h1>
    </div>
    <h2>Submitted work - Preprints</h2>
    <div align="start" class="content">
      {{ $isEmpty := true}}
      <ul>
	{{ range .Pages }}
	{{ if not .Params.other }}
      {{ if .Params.preprint }}
      <li>  <a href={{ .Params.weblink }}>{{ .Title }}</a>
	{{ if .Params.withcoauthors }}<br>
	Jointly with: {{ .Params.coauthors }}
	{{ end }}
      {{ $isEmpty = false}}
      {{ end }}
	{{ end }}
	{{ end }}
      {{ if $isEmpty }}
	 No submitted articles at the moment.
      {{ end }}
      </ul>
    </div>
    <h2>Journal papers</h2>
    <div align="start" class="content">
      {{ $isEmpty := true}}
      <ul>
	{{ range .Pages }}
	{{ if not .Params.other }}
      {{ if not .Params.preprint }}
      <li>  <a href={{ .Params.weblink }}>{{ .Title }}</a>
	{{ if .Params.withcoauthors }}<br>
	Jointly with: {{ .Params.coauthors }}
	{{ end }}<br>
	Journal: {{ .Params.journal }}
      {{ $isEmpty = false}}
      {{ end }}
	{{ end }}
	{{ end }}
      {{ if $isEmpty }}
	 Nothing published at the moment.
      {{ end }}
      </ul>
    </div>
    <h2>Others</h2>
    <div align="start" class="content">
      <ul>
      {{ range .Pages }}
      {{ if .Params.other }}
      <li>  <a href={{ .Params.weblink }}>{{ .Title }}</a>
	{{ if .Params.withcoauthors }}<br>
	Jointly with: {{ .Params.coauthors }}
	{{ end }}<br>
	{{ .Params.type }}
      {{ end }}
      {{ end }}
      </ul>
    </div>

</main>

{{ partial "footer" . }}


